<!-- src/template/content.liquid -->
<div id="social" style="display: flex; flex-direction: column; width: 854px; justify-content: center; padding: 0 64px">
    <img src="https://github-profile-trophy.vercel.app/?username=jayypluss&theme=dracula" alt="Trophies"/>
</div>