<!-- src/template/content.liquid -->
<img src="https://github-readme-stats.vercel.app/api?username=jayypluss&theme=jolly&show_icons=true&hide=prs,contribs" alt="Stats"/>
<br>
<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=jayypluss&theme=jolly&hide=c%2B%2B" alt="Stats"/>
<br>
<div id="social" style="display: flex; flex-direction: column; width: 854px; justify-content: center; padding: 0 64px">
    <img src="https://github-profile-trophy.vercel.app/?username=jayypluss&theme=dracula" alt="Trophies"/>
</div>
<br>
