<!-- src/template/header.liquid -->
![header-image](https://capsule-render.vercel.app/api?type=waving&color=0:FF79C6,100:8f42fd&text=Hey!%20Jay%20here...&animation=fadeIn&fontSize=48&fontAlignY=40&height=200&fontColor=F8F0FF)

<div align="center">

| TypeScript | JavaScript | React | React Native | Godot | BabylonJS |
| ------------- | ------------- | ------------- | ------------- | ------------- | ------------- |

</div>

<br>
